[user]
	name = KCH/Viapath
	email = dbrawand@gmail.com
[core]
	excludesfile = /Users/dbrawand/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[push]
	default = simple
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[alias]
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
